<%- include("partials/header"); -%>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <main class="main">
    <button onclick="document.location='/compose'" class="sticky-button">Compose</button>
    <div class="main-content responsive-wrapper">
      <% posts.forEach(post=> { %>
        <article class="widget">
          <h1>
            <%= post.postTitle %>
          </h1>
          <% if((post.postContent).length> 200) { %>
            <p class="post-content">
              <%= (post.postContent).substring(0,200) + '...' %>
            </p>
            <a href="/posts/<%= post.postTitle %>">Read more</a>
            <%} else{%>
              <p class="post-content">
                <%= (post.postContent) %>
              </p>
              <% }%>
        </article>
        <% }); %>
    </div>
  </main>

  <script>
  // Function to open the modal
  function openModal() {
    $('#exampleModalCenter').modal({backdrop: 'static', keyboard: false},'show');
  }

  // Open the modal when the page loads
  $(document).ready(function () {
    openModal();
  });
</script>
  <%- include("partials/footer"); -%>